{% extends "layout.html" %}
{% block content %}
<div align="center">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}} col-sm-2" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}  
</div>
<div align="center" style="margin-top: 12%">
<div class="card w-50">
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title(class="form-control col-sm-10", placeholder="Заголовок", style="margin-top: 4%") }}
        {{ form.text(class="form-control col-sm-10", placeholder="Напишите что-нибудь...", style="margin-top: 4%") }}
        {{ form.submit(class="btn btn-primary col-sm-10", style="margin-top: 4%")}}
    </div>
</form>
</div>
</div>
{% endblock %}